<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
    window.OnSetup = window.OnSetup || [];

	window.OnSetup.push(function(event)
    {
		var galleryElements = $(".gallery");

		for(var i = 0; i < galleryElements.length; ++i)
		{
			galleryElements[i].setAttribute("data-pswp-uid", i+1);
		}

		$(".gallery > a").click(function(e){
			e.preventDefault();

			var items = [],
			parent = $(this).parent(),
			index = parent.children().index(this),
			links = parent.children("a.image");

			var options = {
				index: index,
				shareEl: false,
				bgOpacity: 0.75,
				galleryUID: parent.attr("data-pswp-uid")
			};

			for(var j = 0; j < links.length; ++j)
			{
				var size = $(links[j]).attr("data-med-size").split('x');
				var item = {};

				item.w = parseInt(size[0], 10);
				item.h = parseInt(size[1], 10);
                if($(links[j]).attr("has-thumb") == "true")
                {
                    item.msrc = $(links[j]).attr("use-background") == "true" ? 
                    $(links[j]).children("img").css("background-image").split("\"")[1] :
                    $(links[j]).children("img").attr("src");
                    item.src = $(links[j]).attr("data-med");
                }
                else
                {
                    item.src = $(links[j]).attr("data-med");
                }
				item.title = $(links[j]).children("span")[0].innerHTML;

				items.push(item);
			}

			var gallery = new PhotoSwipe($(".pswp")[0], PhotoSwipeUI_Default, items, options);
			gallery.init();
		});
	});
</script>