<!-- Right now there're issues with the iconify icons not showing up correctly
Hint for later: try upping the font size of the icon -->

<div id="sidebar" class="inactive">
	<div class="inner">
		<section id="search" class="alt">
			<form action="#">
				<input id="query" type="text" name="query" placeholder="Search" />
				<span class="iconify" data-icon="mdi-search"></span>
			</form>
		</section>
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
		</nav>
	</div>
	<a class="toggle" href="#sidebar">
		<span class="iconify" data-icon="mdi-menu"></span>
	</a>
</div>